/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootswatch/dist/lux/bootstrap.min.css";

.box-shadow {
  -webkit-box-shadow: 4px 2px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 2px 8px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 2px 8px 0px rgba(0, 0, 0, 0.75);
}

body {
  min-height: 100vh;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  background-color: #f1f2f5;
}
.bg-dark {
  background-color: #451771 !important;
}
.card {
  border-radius: 10px !important;
  background-color: #451771 !important;
  color: #fff !important;
}
.btn.btn-primary {
  background-color: #ce1f99;
  border-radius: 25px;
}
.btn.btn-warning {
  background-color: #3cbbb0;
  border-radius: 25px;
}
.btn.btn-danger {
  background-color: #ffeb3b;
  border-radius: 25px;
  color: #000;
}
.list-group-item {
  border: none !important;
  color: #545e6f;
}
.list-group-item:hover {
  background-color: #ce1f99;
  color: #fff !important;
}
.detail-text {
  color: #fff !important;
  margin-right: 10px;
}
.jumbotron {
  color: #545e6f !important;
}
.add-movie-wrapper {
  background-color: #f1f2f5 !important;
  color: #545e6f !important;
}
legend {
  background-color: #f1f2f5 !important;
  color: #545e6f !important;
  font-weight: bold;
}
label {
  color: #545e6f !important;
  font-weight: bold;
}
